@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #181818;
  color: whitesmoke;
  font-family: 'Helvetica', 'Arial', sans-serif
}

a {
  text-decoration: none;
  color: whitesmoke;
}

input[type=submit] {
  -webkit-appearance: none;
}

#load-gif {
  margin-top: 20px;
  border: none;
  object-fit: contain;
  width: 50px;
}

///// NavBar /////
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  background-color: #202020;
}

#logo {
  color: red;
  margin: 0;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

#search {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 0px 1px 1px;
  background-color: #313131;

  input {
    width: 340px;
    font-size: 16px;
    padding: 3px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    background: #121212;
    color: whitesmoke;
  }

  button {
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px 13px;
    transition: 200ms;
    color: rgb(114, 114, 114);
    
  }

  button:hover {
    color: darkgray;
  }
}

#nav-profile {
  display: flex;
  align-items: center;
}

#upload, #profile {
  cursor: pointer;
  padding: 3px;
  font-size: 23px;
}

#upload {
  margin-right: 23px;
}
////////////////////

// Login - Signup // Auth Page
#auth  {
  margin-top: 65px;

  p {
    max-width: 544px;
    margin: auto;
    margin-bottom: 34px;
  }

  button {
    font-size: 17px;
    display: block;
    padding: 14px 16px;
    margin: auto;
    margin-top: 20px;
    width: 366px;
    transition: all 200ms;
    border: none;
    border-radius: 6px;
  }
}

#account-form {
  width: fit-content;
  margin: 0 auto;
}

form { 
  input {
    display: block;
    width: 330px;
    font-size: 17px;
    margin-top: 20px;
    padding: 14px 16px;
  }

  #login, #signup {
    margin: auto;
    margin-top: 20px;
    width: 367px;
    border: none;
    border-radius: 6px;
    transition: all 200ms;
    outline: none;
  }
}

#form-bottom {
  display: flex;
  justify-content: center;
}

#margin-space {
  margin-left: 5px;
}

#error-text {
  color: red;
  font-weight: 500;
  margin: auto;
  word-wrap: break-word;
  width: 357px;
}

#title {
  margin: auto;
  font-size: 17px;
  padding: 2px;
  outline: none;
  margin-bottom: 20px;
}

/////////////////////

//////File Input Styling/////
.file {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type='file'] {
  display: none
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%);
}

.file--upload > label:hover {
  border-color: hsl(204, 86%, 53%);
  background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
  background-color: hsl(204, 86%, 91%);
}
//////////////////////////

///Thumbnails///
.react-thumbnail-generator {
  width: fit-content;

  img {
    width: 300px;
  }


}

.snapshot-generator {
  display: none;
}

#video-dash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

#vid-card {
  text-align: left;
  border: 1px solid gray;
  min-width: 300px;
  cursor: pointer;
  margin: 13px;

  p {
    padding: 0px 5px;
  }
}

///Single Video///
#single-vid-card {
  margin: 20px auto;
  max-width: 1200px;
  
  h2 {
    text-align: left;
    margin-bottom: 11px;
  }

  h3  {
    text-align: left;
    color: rgb(160, 160, 160);
    font-style: italic;
    margin: 0;
  }

  h2, h3 {
    padding-left: 15px;
  }

}

//Comments//
#comment-form {
  max-width: 1200px;
  margin: auto;
  text-align: right;
  padding-right: 55px;

  button {
    padding: 10px 15px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: crimson;
    margin-bottom: 10px;
  }

  textarea {
    width: 270px;
    height: 70px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    resize: none;
    outline: none;
  }
}

#comment-box {
  max-width: 1170px;
  margin: auto;
  text-align: left;
  padding: 0px 15px;
}